@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pscf70');
  src:  url('../fonts/icomoon.eot?pscf70#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?pscf70') format('truetype'),
  url('../fonts/icomoon.woff?pscf70') format('woff'),
  url('../fonts/icomoon.svg?pscf70#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 .25em 0 0;
  text-decoration: none;
  display: inline-block;
}

.icon-facebook:before {
  content: "\ea90";
  color: #3B5998;
}
.icon-instagram:before {
  content: "\ea92";
  color: #8a3ab9;
}
.icon-twitter:before {
  content: "\ea96";
  color: #4099FF;
}

* {
  font-family: 'Dancing Script', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0 10%;
  background: black;
  animation: init 1s;
}

header {
  background: #5b7989;
  padding:  0 2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  color: white;
}

h1 {
  flex-grow: 1;
  text-align: left;
  font-size: 2em;
  text-shadow: 2px 2px 0 #02010a;
  padding: .5em;
}
nav {
  flex-grow: 1;
  text-align: right;
  padding: 1.5em 0;
}

nav a {
  font-size: 1.5em;
  padding: .5em;
}

nav a, nav a:active, nav a:visited {
  color: white;
  text-shadow: 0 0 .125em black;
}

nav a:hover {
  text-shadow: 0 0 .25em black;
}

nav a.active, nav a:active {
  text-decoration: none;
}

img {
  width: 100%;
  box-shadow: 2px 2px 0 black;
}

.primary {
  background: #82c3a6;
  padding: 2em;
}

.secondary {
  padding: 1em;
  display: flex;
}

.secondary figure {
  padding: 1em;
}

.secondary img {
  border: 1px solid black;
  transition: 1s;
}

.secondary figure:first-of-type img:hover {
  transform: rotate(10deg);
}

.secondary figure:last-of-type img:hover {
  transform: translate(20px,-2px);
}

.secondary figcaption {
  text-align: center;
}

.secondary a {
  color: black;
  font-size: 1.5em;
}

.photo-grid, .secondary {
  background: #d5c75f;
}

.photo-grid {
  overflow: hidden;
  padding: 1em;
}

.photo-grid figure {
  float: left;
  width: 30%;
  padding: 1em 1.66666%;
}

.photo-grid img {
}

.photo-grid figure:nth-of-type(1) {
  filter: blur(10px);
}

.photo-grid figure:nth-of-type(2n) {
  filter: grayscale(100%);
}

.photo-grid figure:nth-of-type(3) {
  filter: sepia(90%);
}

footer {
  background: #C6d5c5;
  border-radius: 0 0 10px 10px;
  padding: 0 1em 1em 1em;
  overflow: hidden;
}

footer article {
  width: 23%;
  padding: 0 1%;
  float: left;
}

footer h2 {
  font-size: 2em;
  padding: 1em 0 0 0;
}

footer p, footer a {
  font-size: 1.2em;
}

footer a {
  display: block;
  color: black;
}

@media (max-width: 1080px) {
  .photo-grid figure, footer article {
    width: 47%;
    padding: 1em 1.5%;
  }

  footer article:nth-of-type(2n) {
    float: right;
  }

  body {
    margin: 0 2%;
  }
}

@media (max-width: 800px) {
  header {
    flex-flow: column;
  }

  header h1, header nav {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .secondary {
    flex-flow: column;
  }
  .photo-grid figure, footer article {
    width: 96%;
    padding: 1em 2%;
  }
}

@keyframes init {
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}
